/* web font */
.dark h1, .dark h2, .dark h3, .dark h4, .dark h6, .dark p, .dark a, .dark .header menu a, .dark .header a{
    color: white;
}

.red h1, .red h2, .red h3, .red h4, .red h6, .red p, .red a, .red .header menu a, .red .header a{
    color: #F60909;
}

.grey a, .grey b{
    color: #B6B2B2;
}

h1 .c-highlight{
    color: #19d3c5;
}