@mixin gap-xy($size-y){
    @each $size-x in $sizes-alpha {
        &#{$size-x}{
            gap: spacing-value($size-y) spacing-value($size-x);
        }
    }
}

@mixin gap{
    gap: 0px; 
    @each $size-y in $sizes-alpha {
        &-#{$size-y}{
            gap: spacing-value($size-y);
            @include gap-xy($size-y);
        }
    }
}

@mixin spacing-sides($type, $size){
    &-t{
        #{$type}-top: spacing-value($size);
    }
    &-r{
        #{$type}-right: spacing-value($size);
    }
    &-b{
        #{$type}-bottom: spacing-value($size);
    }
    &-l{
        #{$type}-left: spacing-value($size);
    }
    &-tr, &-rt{
        #{$type}-right: spacing-value($size);
        #{$type}-top: spacing-value($size);
    }
    &-br, &-rb{
        #{$type}-right: spacing-value($size);
        #{$type}-bottom: spacing-value($size);
    }
    &-rl, &-lr{
        #{$type}-right: spacing-value($size);
        #{$type}-left: spacing-value($size);
    }
    &-tb, &-bt{
        #{$type}-top: spacing-value($size);
        #{$type}-bottom: spacing-value($size);
    }
    &-lb, &-bl{
        #{$type}-left: spacing-value($size);
        #{$type}-bottom: spacing-value($size);
    }
    &-lt, &-tl{
        #{$type}-left: spacing-value($size);
        #{$type}-top: spacing-value($size);
    }

}

@mixin spacing-sides-2($type, $size-y, $size-x){
    &-t{
        #{$type}-top: spacing-value($size-y);
    }
    &-r{
        #{$type}-right: spacing-value($size-x);
    }
    &-b{
        #{$type}-bottom: spacing-value($size-y);
    }
    &-l{
        #{$type}-left: spacing-value($size-x);
    }
    &-tr, &-rt{
        #{$type}-right: spacing-value($size-x);
        #{$type}-top: spacing-value($size-y);
    }
    &-br, &-rb{
        #{$type}-right: spacing-value($size-x);
        #{$type}-bottom: spacing-value($size-y);
    }
    &-rl, &-lr{
        #{$type}-right: spacing-value($size-x);
        #{$type}-left: spacing-value($size-y);
    }
    &-tb, &-bt{
        #{$type}-top: spacing-value($size-y);
        #{$type}-bottom: spacing-value($size-x);
    }
    &-lb, &-bl{
        #{$type}-left: spacing-value($size-x);
        #{$type}-bottom: spacing-value($size-y);
    }
    &-lt, &-tl{
        #{$type}-left: spacing-value($size-x);
        #{$type}-top: spacing-value($size-y);
    }
}

@mixin spacing-xy($type, $size-x){
    @include spacing-sides($type, $size-x);
    @each $size-y in $sizes-alpha {
        &#{$size-y}{
            #{$type}: spacing-value($size-x) spacing-value($size-y);
            @include spacing-sides-2($type, $size-x, $size-y); 
           
        }
    }
}

@mixin spacing($type){
    @include spacing-sides($type, 0);

    @each $size-x in $sizes-alpha {
        &-#{$size-x}{
            #{$type}: spacing-value($size-x);
            @include spacing-xy($type, #{$size-x});
        }
    }

}
