// Variables Layout
$ingrid: 1200px;

$ingrid-1-2: calc($ingrid / 2);
$ingrid-1-3: calc($ingrid / 3);
$ingrid-1-4: calc($ingrid / 4);

// Variables Colours
$color-white: #fff;
$color-black: #000;
$color-main: darkblue;
$color-highlight: orange;
$color-dark: darkblue;
$color-light: lightblue; 
$color-lightgrey: lightgrey;



// Variables Font

$font: Ariel;
$font-body: Ariel;
$font-header: Sanserif;
$font-heightlight: curly;

// std sizes
$xxxs: 2px;
$xxs: 5px;
$xs: 10px;
$s: 15px;
$m: 20px;
$l: 30px;
$xl: 40px;
$xxl: 80px;
$xxxl: 120px;


$columns: 1, 2, 3, 4, 5, 6;
$sizes-alpha: 'xxxs', 'xxs', 'xs', 's', 'm', 'l', 'xl', 'xxl', 'xxxl';

@function spacing-value($value) {
    @if $value == "xxxs" {
      @return $xxxs;
    }
    @if $value == "xxs" {
        @return $xxs;
    }
    @if $value == "xs" {
        @return $xs;
    }
    @if $value == "s" {
        @return $s;
    }
    @if $value == "m" {
        @return $m;
    }
    @if $value == "l" {
        @return $l;
    }
    @if $value == "xl" {
        @return $xl;
    }    
    @if $value == "xxl" {
        @return $xxl;
    }
    @if $value == "xsxl" {
        @return $xxxl;
    }
    @else{
        @return 0;
    }
  }